/* * {
  outline: solid blue 1px;
} */

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

#itemGallery {
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  flex-wrap:wrap;
  margin: 2% 5%;
}

.itemCard {
  width: 100px;
  font-size: .75em;
  border: solid 5px red;
  margin-bottom: 5%;
}

.text, .image {
  height:100px;
  width:100px;
  margin: none;
}

